<div class="container col-xl-10 col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-lg-7 text-center text-lg-start">
      <h1 class="display-6 titulos text-lg-start">
        UPS !<br />PAGINA NO ENTRADA<span>🏗️</span>
      </h1>
      <p class="col-lg-10 fs-5 textosDescripciones text-white">
        ¿Mi pregunta es, como llegaste acá?<br />como es posible si no estamos
        manejando un menú con algún envío erroneo, como lo acabas de hacer, que estas buscando <span class="fw-bold">loquillo</span>
      </p>
    </div>
    <div class="col-md-10 mx-auto col-lg-5">
      <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
        <img
          loading="lazy"
          src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExOTg0bGF5bDZmMWx6cGoyZ3Jxbm5pZDNicmw2MDUyY2didnlyZW8zNSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/PjW06u6OCxWHm/giphy.gif"
          class="card-img-top"
          alt="Conoce Colombia"
        />
      </form>
    </div>
  </div>
</div>
