
<div class="estrellas">
  <div class="container py-3s" [@fadeInAnimation]>
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-md-10 mx-auto col-lg-2 text-center text-lg-start">
        <img
          src="{{ defaultImage }}"
          width="270"
          height="270"
          class="bd-placeholder-img rounded-circle redondoFoto"
          loading="lazy"
        />
      </div>
      <div class="mt-5 col-lg-8 text-lg-start text-white">
        <h1 class="display-6 fw-bold lh-1 mb-3 titulos">
          JULIAN <span>MONTAÑEZ</span
          ><span class="cursor">|</span>
        </h1>
        <p class="m-5 col-lg-10 fs-5 textosDescripciones">
          <span class="textosNegrllas">¡Hola! </span>Soy Julian Andres, un
          estudiante apasionado, actualmente estoy cursando noveno semestre de
          ingenieria de sistemas en la Fundación Universitaria Juan De
          Castellanos. Mi fascinación por la innovación y mi amor por las
          tecnologías emergentes me inspiran a explorar constantemente nuevas
          fronteras en el mundo digital.
        </p>
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <a
            href="https://www.linkedin.com/in/julian-andres-monta%C3%B1ez-02985813b/"
            class="fs-3 me-3 nav-item bi bi-linkedin text-white imagenesUi"
          ></a>
          <a
            href="https://github.com/Andres12345-debug"
            class="fs-3 me-3 nav-item bi bi-github text-white imagenesUi"
          ></a>
          <a
            href="https://www.instagram.com/anddreeees/?hl=es-la"
            class="fs-3 me-3 nav-item bi bi-instagram text-white imagenesUi"
          ></a>
          <a
            href="#"
            class="fs-3 me-3 nav-item bi bi-whatsapp text-white imagenesUi"
          ></a>
        </ul>
      </div>
    </div>
  </div>
   <!-- PROYECTOS -->
   <div class="container">
    <div class="row align-items-center g-lg-5">
      <div class="col-md-10 mx-auto col-lg-2 text-center text-lg-start"></div>
      <div class="mt-5 col-lg-8 text-lg-start text-white textosDescripciones">
        <h1 class="fs-2 fw-bold lh-1 mb-3 titulos">
          PROYECTOS<br />
          PERSONALES
        </h1>
        <div class="row border-bottom mt-5 gy-4">
          <div class="col-12 col-sm-6 col-md-4 text-start" >
            <div class="card bg-black h-100 cardHover" style="width: 100%">
              <img
                loading="lazy"
                src="assets/gif/gifApicolombia.gif"
                class="card-img-top"
                alt="Conoce Colombia"
              />
              <div class="card-body">
                <h5 class="textosDescripciones text-white">Conoce Colombia</h5>
                <p class="card-text text-white">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
              </div>
            </div>
          </div>
          <div
            class="col-12 col-sm-6 col-md-4 text-sm-start textosDescripciones"
          >
            <div class="card bg-black h-100" style="width: 100%">
              <img
                loading="lazy"
                src="assets/gif/gifApicolombia.gif"
                class="card-img-top"
                alt="Conoce Colombia"
              />
              <div class="card-body">
                <h5 class="text-white">RetosTos</h5>
                <p class="card-text text-white">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
              </div>            
            </div>
          </div>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.col-lg-8 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- Sección habilidades -->
  <div class="container">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-md-10 mx-auto col-lg-2 text-center text-lg-start"></div>
      <div class="mt-5 col-lg-8 text-lg-start text-white">
        <h1 class="fs-2 fw-bold lh-1 mb-3 titulos">
          HABILIDADES<br />
          UI/UX
        </h1>
        <div class="row mt-5">
          <div
            class="col-6 col-col-6 col-md-4 col-6 col-md-4 col-lg-4 text-center"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg"
              class="imagenesUi"
              alt="HTML5"
              width="100"
              height="90"
              loading="lazy"
            />
            <h2 class="fs-3 textosDescripciones">HTML</h2>
          </div>
          <!-- /.col-lg-4 -->
          <div
            class="col-6 col-col-6 col-md-4 col-6 col-md-4 col-lg-4 text-center"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg"
              class="imagenesUi"
              alt="CSS3"
              width="100"
              height="90"
              loading="lazy"
            />
            <h2 class="fs-3 textosDescripciones">CSS</h2>
          </div>
          <!-- /.col-lg-4 -->
          <div
            class="col-6 col-col-6 col-md-4 col-6 col-md-4 col-lg-4 text-center"
          >
            <a href="https://prueba-tecnica-colombia.vercel.app/"
              ><img
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg"
                class="imagenesUi"
                alt="React"
                width="100"
                height="90"
                loading="lazy"
            /></a>
            <h2 class="fs-3 textosDescripciones">REACT</h2>
          </div>
          <!-- /.col-6 col-md-4 col-lg-4 -->
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-md-10 mx-auto col-lg-2 text-center text-lg-start"></div>
      <div class="mt-5 col-lg-8 text-lg-start text-white">
        <h1 class="fs-2 fw-bold lh-1 mb-3 titulos">
          HABILIDADES<br />
          DEV
        </h1>
        <div class="row border-bottom mt-5">
          <div class="col-6 col-md-4 col-lg-4 text-center">
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg"
              class="imagenesUi"
              alt="HTML5"
              width="100"
              height="90"
              loading="lazy"
            />
            <h2 class="fs-3 textosDescripciones">NODE.JS</h2>
          </div>
          <!-- /.col-lg-4 -->
          <div class="col-6 col-md-4 col-lg-4 text-center">
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original.svg"
              class="imagenesUi"
              alt="CSS3"
              width="100"
              height="90"
              loading="lazy"
            />
            <h2 class="fs-3 textosDescripciones">POSTGRESQL</h2>
          </div>
          <!-- /.col-lg-4 -->
          <div class="col-6 col-md-4 col-lg-4 text-center">
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postman/postman-original.svg"
              class="imagenesUi"
              alt="CSS3"
              width="100"
              height="90"
              loading="lazy"
            />
            <h2 class="fs-3 textosDescripciones">POSTMAN</h2>
          </div>

          <!-- /.col-lg-4 -->
        </div>
      </div>
    </div>
  </div>  
  <!-- /.container -->
</div>
