<div class="estrellas">
  <div class="container py-3 estrellas">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-md-10 mx-auto col-lg-2 text-center text-lg-start">
        <img
          src="../../../../assets/img/jamp.png"
          width="240"
          height="270"
          class="bd-placeholder-img rounded-circle redondoFoto"
        />
      </div>
      <div class="mt-5 col-lg-8 text-center text-lg-start text-white">
        <h1 class="display-6 fw-bold lh-1 mb-3">
          JULIAN <span class="azulTitulos">MONTAÑEZ</span>
        </h1>
        <p class="col-lg-10 fs-5 textoPrimeraDescripcion">
          ¡Hola! Soy Julian Andres, un estudiante apasionado,actualmente estoy
          cursando noveno semestre deingenieria de sistemas en la Fundación
          Universitaria JuanDe Castellanos. Mi fascinación por lainnovación y
          miamor por las tecnologías emergentes me inspiran aexplorar
          constantemente nuevas fronteras en el mundodigital.
        </p>
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <a
            href="#"
            class="fs-4 me-3 nav-item bi bi-browser-edge text-white"
          ></a>
          <a href="#" class="fs-4 me-3 nav-item bi bi-instagram text-white"></a>
          <a href="#" class="fs-4 me-3 nav-item bi bi-facebook text-white"></a>
          <a href="#" class="fs-4 me-3 nav-item bi bi-whatsapp text-white"></a>
        </ul>
      </div>
    </div>
  </div>
</div>
