.estrellas {
  background-image: url("../../../../assets/background/fondoColorido.svg");
  background-attachment: fixed;
  background-size: cover;
}

.redondoFoto {
  box-shadow: 0 10px 10px rgba(76, 35, 147, 0.43),
    0 10px 10px rgba(124, 124, 124, 0.786);
  background-color: #0000002c;
  
}
.redondoFoto:hover {
  cursor: pointer;
  box-shadow: 0 10px 10px rgba(255, 255, 255, 0.43),
    0 10px 10px rgba(152, 143, 143, 0.786);
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}



.cursor {
  display: inline-block;
  width: 3px;
  height: 20px;
  margin-left: 5px;
  animation: blink-caret 0.75s step-end infinite;
}
/* Animación del parpadeo del cursor */
@keyframes blink-caret {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
